<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>

    <!-- ユーザー名とdisplay_nameの表示 -->
    <p>Username: {{ request.user }}</p>
    <p>Display Name: {{ request.user.userprofile.display_name }}</p>

    <!-- ログアウトフォーム -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>

    <!-- ボタンを追加 -->
    <p>Go to:</p>
    <ul>
        <li><a href="{% url 'settings' %}">Settings</a></li>
        <li><a href="{% url 'organizer' %}">Organizer</a></li>
        <li><a href="{% url 'participant' %}">Participant</a></li>
    </ul>

    <h2>Your Organized Events:</h2>
    <ul>
        {% for event in events %}
        <li>
            <a href="{% url 'published_event' event_code=event.event_code %}">
                {{ event.event_name }}
            </a>
        </li>
        {% empty %}
        <p>You have no events yet.</p>
        {% endfor %}
    </ul>

</body>
</html>
