<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizer Page</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Create Event</h1>
    <p>Organizer: {{ request.user.userprofile.display_name }}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <script>
        $(document).ready(function () {
            // カレンダーを表示する
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd", // 日付のフォーマットを指定（例：2023-10-07）
            });
        });
    </script>

    <p><a href="{% url 'home' %}">Go to Home</a></p>
</body>
</html>
