<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Organizer Page</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

    <!-- FullCalendar -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>

    {% load static %}
    <!-- organizer.js -->
    <script src="{% static 'js/organizer.js' %}"></script>
    <!-- organizer.css -->
    <link rel="stylesheet" href="{% static 'css/organizer.css' %}">

</head>
<body>
    <h1>Create Event</h1>
    <p>Organizer: {{ request.user.userprofile.display_name }}</p>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_event_name">Event Name:</label>
            {{ form.event_name }}
        </div>
        <div class="form-group">
            <label for="id_event_dates">Event Date:</label>
            <div id="calendar"></div>
        </div>
        <div class="form-group">
            <label for="id_event_comment">Comment:</label>
            {{ form.event_comment }}
        </div>
        <input type="hidden" name="event_dates" id="event-dates" class="event-dates">
        {% if form.event_dates.errors %}
            <ul class="errorlist">
                {% for error in form.event_dates.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <button type="submit">Submit</button>
    </form>

    <p><a href="{% url 'home' %}">Go to Home</a></p>
</body>
</html>
