<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Published Event</title>
</head>
<body>
    <h1>Event Details</h1>
    <p>Event Name: {{ event.event_name }}</p>
    <p>Event Organizer: {{ event.event_organizer }}</p>
    <p>Event Code: {{ event.event_code }}</p>

    <h2>Candidate Dates:</h2>
    <ul>
        {% for date in event_dates %}
            <li>{{ date.date }}</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'home' %}">Go to Home</a></p>
</body>
</html>
