<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Published Event</title>
</head>
<body>
    <h1>Event Details</h1>
    <p>Event Name: {{ event.event_name }}</p>
    <p>Event Organizer: {{ event.event_organizer }}</p>
    <p>Event Code: {{ event.event_code }}</p>

    <h2>Candidate Dates:</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Your Availability</th>
            </tr>
        </thead>
        <tbody>
            {% for date in event_dates|dictsort:"date" %}
                <tr>
                    <td>{{ date.date|date:"Y/m/d" }}</td>
                    <td>
                        <input type="checkbox" name="availability" value="{{ date.id }}"
                            {% if date in request.user.userprofile.available_dates.all %}checked{% endif %}>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Submit</button>
    <p><a href="{% url 'home' %}">Go to Home</a></p>
</body>
</html>
