<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>

    <h2>set display_name</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Save</button>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <p><a href="{% url 'home' %}">Go to Home</a></p>
</body>
</html>
